<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60593151706-5ul3ccg96bjs800n1f79f0k3dh0kbkkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60593151706-5ul3ccg96bjs800n1f79f0k3dh0kbkkj</string>
	<key>API_KEY</key>
	<string>AIzaSyBKzk6DwGXc-NjMrB5fRCd3F0fY6IqOb8A</string>
	<key>GCM_SENDER_ID</key>
	<string>60593151706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedRagab.MovieFlexApp</string>
	<key>PROJECT_ID</key>
	<string>movieappflex</string>
	<key>STORAGE_BUCKET</key>
	<string>movieappflex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60593151706:ios:7b9ce02c3224d574b4cfe3</string>
</dict>
</plist>