<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277114349650-0qicq282s6h4od9vgmarj24s6ht99uvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277114349650-0qicq282s6h4od9vgmarj24s6ht99uvb</string>
	<key>API_KEY</key>
	<string>AIzaSyACpgYk5rzsL40t4D-xu5VFeGSwRqiFe4k</string>
	<key>GCM_SENDER_ID</key>
	<string>277114349650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedRagab.MovieFlexApp</string>
	<key>PROJECT_ID</key>
	<string>movieflex-e3737</string>
	<key>STORAGE_BUCKET</key>
	<string>movieflex-e3737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277114349650:ios:bca0c691b913b30752d78b</string>
</dict>
</plist>